[2015-02-12 22:15] sbromberger opened #1 "RFC - Strategic direction - native Julia packages"
Proposal:
1.  new packages should be as "pure Julia" as possible, minimizing any external code/dependencies, and
2.   existing packages that survive "rationalization" should be rewritten/updated to reduce dependencies on external code.

[2015-02-12 22:15] IainNZ opened #2 "State of JuliaWeb"
Heres how I see the state of JuliaWeb right now: too many packages, not enough developers. This isn't a criticism of anyone, more just a concerning state of affairs that I'd like to find a way out of. A lot of these packages are pretty important.
- I think there are some opportunities for rationalization.
  - For example, Requests.jl and HTTPClient.jl doing the exact same thing, in different ways.

[2015-02-12 22:20] IainNZ opened #3 "Possible plan to rename packages"
It was proposed to rename some packages in JuliaWeb:
- HttpCommon -> HTTPCommon or HTTPCommons (https://github.com/JuliaWeb/HttpCommon.jl/issues/18)
- HttpServer -> HTTPServer or HTTPServers (https://github.com/JuliaWeb/HttpServer.jl/issues/43)
- HttpParser -> HTTPParser or HTTPParsers (https://github.com/JuliaWeb/HttpParser.jl/issues/29)

Most past discussion happened here: https://github.com/Jul

[2015-02-12 22:24] sbromberger commented on #2
Thanks, @IainNZ - this is an important discussion.

My $0.02:

We should define a suite of "web-relevant" functionality we want to support. I think that there are different layers of the stack that belong in JuliaWeb. These include the following (note that packages may already exist for some/most/all of these):

_General_
1) Consistent Network / URI data representation
2) Consistent socket approac

[2015-02-12 22:26] sbromberger commented on #3
In favor of capitalizing HTTP, but not pluralizing unless we're planning on implementing multiple types of server / parser (which I am not right now in favor of doing).

[2015-02-12 23:18] aviks commented on #3
Changing a name just by capitalising might cause a great deal of pain for users of braindead case insensitive file systems (_cough_mac*cough), afaik.

[2015-02-13 00:24] randyzwitch commented on #2
How do API wrappers fit into our definition? Are we just talking infrastructure, or would packages like [Twitter.jl](https://github.com/randyzwitch/Twitter.jl), [Yelp.jl](https://github.com/quinnj/Yelp.jl), Google Analytics (when I get around to writing it) fit here as well?

I've been meaning to do more work on the package for completeness, but I factored out the [OAuth](https://github.com/randyz

[2015-02-14 09:32] ssagaert opened #4 "multithreaded HttpServer"
Once SMP multithreading becomes available in julia, I'd like to see HttpServer running on a threadpool (with nr. threads = nr of cores) so that the server can actually use all cores of a machine.

[2015-02-14 13:16] aviks commented on #1
I tried to enumerate the native dependencies of the JuliaWeb projects

HTTPClient is based on libCurl. That should probably be put in maintainance mode, and point users to Requests.jl .

Requests.jl and HTTPServer uses GNU TLS for SSL requests. I don't think that will go away.

HTTPServer uses Joyent's http-parser C library. This is a performance and security sensitive part of the process, and sho

[2015-02-14 16:45] IainNZ commented on #4
This isn't necessarily a good idea, c.f. node.js

[2015-02-15 06:27] jballanc commented on #3
In the grand tradition of `XMLHttpRequest`, I'd argue that leaving "Http" with initial-caps is allowable, even when you're all-caps-ing other acronyms.

[2015-02-15 10:07] ssagaert commented on #4
async io is good but isn’t a catch all solution even in node.js you can do multicore processing (granted only via processes not threads) see e.g. http://blog.carbonfive.com/2014/02/28/taking-advantage-of-multi-processor-environments-in-node-js/
or
http://nodejs.org/api/cluster.html
On 14 Feb 2015, at 17:45, Iain Dunning notifications@github.com wrote:

[2015-02-15 13:13] amitmurthy commented on #1
http://pkg.julialang.org/ could clearly list the officially blessed packages, i.e., being developed under the JuliaLang umbrella. We can do this by grouping packages accordingly - JuliaWeb, JuliaStats, JuliaParallel, etc. And a separate section for all other independently developed packages.

HTTPClient.jl ought to be moved out from JuliaWeb (as also redirecting on the README). Currently, a newcom

[2015-02-15 16:36] sbromberger commented on #1
Just to clarify. Both of these require GnuTLS.jl.

It means that 1) GnuTLS provides the foundation for several other critical packages, which therefore implies that 2) bugs in the GnuTLS package probably need to be given priority over "leaf packages".

[2015-02-15 16:39] sbromberger commented on #2
@randyzwitch my personal opinion: I'd like to see those in here as well, as they provide solutions to the general "here's how you get stuff from the internet into Julia" problem.

[2015-02-15 16:43] sbromberger commented on #3
@jballanc See, e.g., https://en.wikipedia.org/wiki/Naming_convention_(programming)#Common_elements for a discussion:

[2015-02-15 16:46] sbromberger commented on #1
@amitmurthy I guess (based on the commit history) you're the primary author of HTTPClient.jl - just to confirm you're ok with deprecating HTTPClient.jl in favor of Requests.jl? Is there any functionality that the former provides that the latter does not?

[2015-02-15 17:17] IainNZ commented on #4
Julia has multiprocessing though? Seems like that could be done right now

[2015-02-15 17:46] sbromberger opened #5 "Fix or (deprecate and replace) GnuTLS"
GnuTLS.jl is the core of a bunch of other JuliaWeb packages but it's not stable at this point, and this results in the other packages failing intermittently (and without any consistency). Since this is a roadmap issue, I'd like to suggest we set a direction here:

1) Confirm GnuTLS as the appropriate package for TLS / secure communications, and put effort into fixing it (and making sure it keeps i

[2015-02-16 04:11] amitmurthy commented on #1
I have no issues. Just to note:
- HTTPClient uses libcurl  (http://curl.haxx.se/ ) which is a very mature library and has support for almost anything HTTP related - handling redirects, various authentication schemes, proxies, etc, etc.
- I have not looked at Requests.jl in detail, but, I suspect, it will take quite some time for it to match cURL in terms of features - which is not to say that it i

[2015-02-16 09:25] ssagaert opened #6 "add HttpSession"
add a HttpSession type/object to HttpServer which would basicallly be like a dict per user to track user data  in a http session. See e.g. session in java jsp/servlets.

[2015-02-16 16:49] randyzwitch commented on #2
@sbromberger I agree with you. I'll keep my remaining packages in mind for moving to JuliaWeb, once I'm comfortable/have time to make changes.

Another idea: If we're going to pick single 'best' packages like Requests.jl, does it make sense to consolidate HttpCommon into Requests? The idea of lots of little focused packages makes them easy to update (in theory), but at the same time, if we bundle

[2015-02-16 16:55] sbromberger commented on #2
@randyzwitch If there are cases where HttpCommon can be used independently, then perhaps it should stay separate? I can see it being used for Requests, and for HttpServer, and possibly others, in which case it seems inappropriate to have HttpServer, as an example, have to require Requests.

The weird thing about HttpCommon and Requests is that it's not in the REQUIRE file, but it's a "using" state

[2015-02-16 17:06] randyzwitch commented on #2
Good point, I wasn't thinking of the server side of things.

My original thought was that I import HttpCommon and Requests, but only to extend the `encodeURI` function from HttpCommon. But you're right, encode/decode functions are useful on both ends of the requesting/serving spectrum.

[2015-02-17 08:52] ssagaert opened #7 "add a docroot dir and let HttpServer load static content like images, pdf docs, etc."
This would be very handy to easily add images, pdfs etc to dynamically generated webpages (now you have to write a webprog itself that load the content from the filesystem and returns it via http and link to that prog). This would be similar to what Tomcat provides.

[2015-02-17 15:34] sbromberger commented on #7
I'm actually torn on this idea. Static pages are better served by "real" web servers, since there are some pretty significant security issues related to filesystem access. I guess I'm more in favor of putting the wsgi service behind some sort of other web server that can route appropriately.

[2015-02-17 15:36] sbromberger commented on #5
I've spent the last two days trying to understand gnutls and have come to the conclusion that we can probably make it work, but there is some puzzling behavior (i.e., a ~10 second timeout when checking for eof on the stream.) I think @keno's expertise would be very valuable here.

[2015-02-17 15:38] sbromberger commented on #1
@amitmurthy could you do me a favor if you have some spare time and check to see how libcurl handles EOF? That is, at a lower level than an HTTP session (think TLS) - when a check for EOF  is performed on a stream that has no bytes, is there a delay? (I'm seeing one in GnuTLS that's very annoying and am wondering whether it's just part of the game.)

[2015-02-17 15:58] IainNZ commented on #7
I think Meddle.jl handles this:

[code]

[2015-02-18 14:16] sbromberger commented on #5
Just noticed that the julia build process (in the git section) uses libopenssl. Is there any advantage to standardizing?

[2015-02-18 19:47] hayd commented on #5
http://www.zdnet.com/article/gnutls-big-internal-bugs-few-real-world-problems/

IMO it's best to use the industry standard: OpenSSL. There's https://github.com/dirk/OpenSSL.jl and https://github.com/amitmurthy/OpenSSLCrypto.jl but both need some love.

[2015-02-19 08:05] ssagaert commented on #4
yes but I’d prefer a multithreaded version for the following reason:

Imagine you hold a large data model (think GBs) in memory and the web application basically queries that data model (I have a julia web app like that). If it’s multithreaded all threads can access that model. If it’s multiprocess then either each process has a copy  => you’ll quickly run out of physical RAM memory, or one master

[2015-02-19 08:05] ssagaert commented on #7
Tomcat (in standalone mode) has been doing this for a long time so I don’t see a problem. Of course Tomcat (standalone) lets you configure access.

Van: Seth Bromberger
Verzonden: ‎dinsdag‎ ‎17‎ ‎februari‎ ‎2015 ‎16‎:‎34
Aan: JuliaWeb/Roadmap
CC: Steven Sagaert

I'm actually torn on this idea. Static pages are better served by "real" web servers, since there are some pretty significant security is

[2015-02-19 16:30] sbromberger commented on #7
The idea of having to implement some sort of chroot() within Julia gives me indigestion.

[2015-02-21 08:00] sbromberger commented on #1
Just a note: SMTPClient is also using LibCURL.

[2015-02-22 19:26] sbromberger commented on #5
Having spent the better part of a day wrestling with this (see https://github.com/JuliaWeb/GnuTLS.jl/issues/39 for the latest problem), I'm inclined to agree. I wonder if the licensing presents an issue.

[2015-02-23 07:42] hayd commented on #5
Licensing should be better with OpenSSL (it's BSD) which is MIT compatible. MIT being the Julia license and how the majority of packages are licensed. :)

Perhaps @dirk or @amitmurthy have some thoughts on OpenSSL/their packages.

[2015-02-23 15:28] aviks commented on #1
Yes indeed, SMTPClient uses libCurl. I would be more than happy to deprecate it if we get  a reasonable SMTP client library in Julia. It was meant to be (and indeed looks like) a quick and dirty solution to an immediate problem.

[2015-02-23 16:15] sbromberger commented on #1
@aviks no deprecation at this point. We're running into significant issues with GnuTLS (see https://github.com/JuliaWeb/GnuTLS.jl/issues/39). Not sure how to fix but the whole suite of GnuTLS-derived packages probably needs a makeover.

[2015-02-23 18:08] sbromberger commented on #5
copying @dls on this as well since there's another openssl package there. All 3 are focused right now on crypto; what we need for JuliaWeb is the TLS stuff.

@dls, @amitmurthy, and @dirk - any chance you three could collaborate on implementing TLS in one robust OpenSSL package that we could then use as the basis for future JuliaWeb efforts?

edited to add @jballanc since he's volunteered to help :

[2015-02-23 18:11] dirk commented on #5
To be honest I haven't touched OpenSSL in Julia in a while, but since then I've gotten some experience hooking it into Rust/C/Node.js. With that said, I'd be up for collaborating with you all to get TLS support integrated into one main OpenSSL package!

[2015-02-24 03:50] amitmurthy commented on #5
I tinkered with OpenSSL for some request signing part required in AWS.jl - it mostly wrapped openssl using Clang.jl. At this time I don't have plans to develop it further - I also don't have the required background in crypto to design a good higher level interface.

[2015-03-05 15:49] stevengj commented on #5
IJulia uses Nettle (for hashing); we gave up on GnuTLS early on because of general flakiness.

[2015-03-05 16:14] aviks commented on #7
As @IainNZ  said above, simple static serving is present in Meddle. I doubt, given the current boundaries between these projects, that it would make sense to move these tho `HTTPServer`, since other basic functionality such as header and urls are also in `Meddle`.

@ssagaert Does that work? Of course, the current functionality is very simple, but we can surely open feature requests in the Meddle r

[2015-03-05 16:15] aviks commented on #6
+1

[2015-03-11 08:27] ssagaert commented on #7
Maybe.
The reason I used HttpServer directly in my project is because the documentation around Meddle/Morsel is very sparse and I could not see how to do things like send an http error code (I used HttpServer to implement a web API rather than a website).

[2015-03-11 08:30] ssagaert commented on #6
The implementation could be as simple as a Dict of Dict. The first Dict has some sort of user id as its key. The second Dict has the session variable names as its keys.

[2015-03-21 18:15] quinnj commented on #5
I'm in sore need of really reliable HTTPS, so I'm committed to helping figure the TLS situation out. Is it worth taking https://github.com/dirk/OpenSSL.jl further or starting from scratch? @sbromberger, you mentioned seeing libopenssl in the julia build process, is that true? Where is it located for you? I wasn't aware/can't find it in my source build.

[2015-03-21 18:21] Keno commented on #5
The problem with OpenSSL (which I just remembered) and the reason that I originally went for GnuTLS was that OpenSSL is GPL incompatible.

[2015-03-21 18:24] quinnj commented on #5
Hmm....it seems @hayd was mistaken somehow. What about a lightweight library like https://tls.mbed.org/source-code; their license is GPL but it also adds something about FOSS, which I'm not familiar with.

[2015-03-21 18:28] hayd commented on #5
I think this was my error (according to [wikipedia](http://en.wikipedia.org/wiki/OpenSSL)):

That sucks - sorry for the misinformation. (see also [SO question](http://stackoverflow.com/questions/6720610/when-and-where-to-mention-usage-of-openssl))

[2015-03-22 01:47] quinnj commented on #5
Ok, I'm thinking of doing a port of a popular python library [tlslite](https://github.com/trevp/tlslite/tree/master/tlslite). Good license, straightforward implementation, Google has contributed to it. Let me know if anyone wants to jump in and help.

[2015-03-22 01:52] sbromberger commented on #5
I don't understand the licensing issue. OpenSSL is essentially the Apache license, which is freer than GPL. (See http://openssl.org/source/license.html). Why are we throwing away a well-vetted, almost-universally-adopted standard because of some possibly contrived issue?

Everyone's free to do what they'd like, of course, but I've got a GSOC project in the works to get bindings for OpenSSL. It wou

[2015-03-22 01:59] sbromberger commented on #5
@quinnj here's an extract from `grep -Ri openssl *` from the julia source:

[code]

[2015-03-22 02:03] Keno commented on #5
I don't think the licensing situation is particularly contrived. At best it's ambiguous, which means lots of people will have to avoid it. The problem is that OpenSSL is Apache v1.0 not v2.0, which has been well established is incompatible with the GPL, meaning you can not ship GPL software (e.g. julia currently due to GPL dependencies with OpenSSL). The libgit2 thing is interesting, we should loo

[2015-03-22 02:06] sbromberger commented on #5
It's not only libgit2, it's the python dependency as well, and virtualenv/pip. Basically, it's unavoidable these days, and Julia's using it.

I also think that if this were a bigger issue for GPL software, you wouldn't see so many GPL-based systems using it (think basically any Linux variant these days, though you do have some GnuTLS holdouts that don't want a "non-free" section). They've all mana

[2015-03-22 02:11] Keno commented on #5
I don't think saying we have a dependency on python is reasonable. I also don't think there's anything wrong with having an OpenSSL.jl package. There is plenty of use cases when license compatibility is not a concern. All I'm saying is such a package could not be shipped with julia as currently the julia distribution itself is GPL. That's the reason I originally picked GnuTLS.

[2015-03-22 02:14] sbromberger commented on #5
@keno perhaps I'm misreading the following (again, extracted via grep) - this looks like pygments rather than python, I guess...

[code]

And I agree with you about not including this in the julia distribution (I'm assuming you mean Base and the code surrounding it). If that's the primary issue, then I think JuliaWeb can standardize on OpenSSL as long as the packages are independent of Base with a

[2015-03-22 02:17] quinnj commented on #5
Would it be better to dig into gnuTLS some more to make it more stable? I guess I thought there were licensing issues with that as well, but I just double-checked and it looks ok. Can't we try and make gnuTLS the standard?

[2015-03-22 02:17] sbromberger commented on #5
Also, wait a second: Julia's license is MIT, not GNU, and there are TONS of exceptions:

https://github.com/JuliaLang/julia/blob/master/LICENSE.md

What am I missing?

[2015-03-22 02:18] Keno commented on #5
I believe that's just used for documentation, so it's fine because we're not distribution it. The concern I had was that if we ever decide to standardize a set of packages to ship with julia, an OpenSSL package probably couldn't be part of it. Also any `JuliaWeb` distributions would have to avoid GPL'd packages. I realize this isn't ideal. I do believe OpenSSL (or even better LibreSSL) is the bett

[2015-03-22 02:18] Keno commented on #5
Julia is MIT, but it has dependencies on GPL'd software, so the binary distribution falls under the GPL because the GPL is viral.

[2015-03-22 02:20] sbromberger commented on #5
@quinnj GnuTLS is poorly maintained relative to OpenSSL and has not responded well to vulnerability notices (http://www.zdnet.com/article/gnutls-big-internal-bugs-few-real-world-problems/ linked above). I think that the widespread adoption of OpenSSL argues in favor of its use here. I'd much rather depend on OpenSSL (warts and all) for robust security than pretty much any other package out there a

[2015-03-22 02:21] Keno commented on #5
I have no problems with having multiple TLS packages. Let's make sure they have the same julia-side interface though, so we can substitute one for the other if necessary.

[2015-03-22 02:22] sbromberger commented on #5
@keno - sorry, I must be dense: what are JuliaWeb distributions?

Also, you likely won't be able to substitute one for the other unless we have a higher-level API. The way setup, negotiation and crypto is done is likely very different between GnuTLS and OpenSSL.

[2015-03-22 02:24] Keno commented on #5
I was speaking in hypotheticals, where somebody might want to make an easily installable copy of all the JuliaWeb packages.

Yes, deciding on a higher level API would be good. I think the best interface here is a Stream that has the standard stream methods and gets encrypted on the fly. Setting up such a stream could be a simple function that just takes the host and port, potentially with support

[2015-03-22 02:28] sbromberger commented on #5
Ah, I get it - thanks for the explanation.

And yes - but realize that even stream functionality may be difficult. I'm sure certificate validation is completely different among the various packages (and I wouldn't be surprised to find some of the smaller ones ignoring validation altogether).

Anyway - I'm very happy we're moving on this. If you wouldn't mind, could you open up a separate issue for

[2015-03-22 16:42] sbromberger opened #8 "API planning for TLS backend"
Inspired by https://github.com/JuliaWeb/Roadmap/issues/5#issuecomment-84496444 - A placeholder for discussion of APIs that are abstract enough to be independent of the underlying TLS library (whether it be GnuTLS, OpenSSL, or other).

[2015-03-24 19:01] quinnj commented on #5
@sbromberger, can you add me to the JuliaWeb org? I have a bunch of deprecation fixes I want to push in.

[2015-03-24 19:02] sbromberger commented on #5
@quinnj done :) Thanks.

[2015-03-24 19:03] quinnj commented on #5
Thanks.

[2015-03-29 15:07] quinnj commented on #5
Licensing question: If a C library is released under Apache 2.0; how would that combine with MIT or a possible future state of being bundled with Julia?

[2015-04-07 20:57] simonster commented on #5
FWIW, NSS is widely used (by Firefox and, until recently, Chrome) and has a compatible license (MPL 2.0). I have no idea what its API looks like.

[2015-04-07 21:04] sbromberger commented on #5
@simonster The fact that it's been FIPS-validated (multiple times) is a bonus, but it requires NSPR which would add some complexity/dependence.

[2015-04-08 11:40] aviks commented on #5
@quinnj AFAIK, IANL etc but,

It is fine to combine an Apache2 licensed library with a GPLv3 distribution. However, the FSF considers the Apache2 license to be incompatible with GPLv2.

https://www.apache.org/licenses/GPL-compatibility.html
http://www.softwarefreedom.org/resources/2007/gpl-non-gpl-collaboration.html

I believe combining MIT and Apache2 licenses are fine, but the patent retaliation

[2015-04-29 06:14] JockLawrie commented on #6
Hi there,

I had a crack at this as part of a simple app [here](https://bitbucket.org/jocklawrie/skeleton-webapp.jl/overview). See main_with_sessions.jl. The session object is indeed a Dict of Dict, but it's a global object rather than baked into HttpServer, for better or worse.

Suggestions welcome,
Jock

[2015-05-01 17:31] wildart commented on #6
I would prefer server completely stateless. This would grately simplify and improve handling of async requests. I think sessions should be done on the middleware level through cookies, in a manner similar to [node-client-sessions](https://github.com/mozilla/node-client-sessions). We could start from putting [missed `state` field](https://github.com/JuliaWeb/HttpCommon.jl/blob/c3c15aeb95f2bfcc0888f

[2015-05-01 17:37] ssagaert commented on #6
yes you are right.  Statelesness does dramatically simplify horizontal scaling e.g. for microservices. I had been having the same reservations against server sessions since I made that post about a HttpSession.
On 01 May 2015, at 19:31, Art notifications@github.com wrote:

[2015-05-04 00:00] JockLawrie commented on #6
Interesting approach - I haven't seen that before.

It seems there are pros and cons either way (client-side vs server-side
sessions), see the comments [here](https://hacks.mozilla.org/2012/12/using-secure-client-side-sessions-to-build-simple-and-scalable-node-js-applications-a-node-js-holiday-season-part-3/).
In particular, the size of the session data and the possibility of race
conditions are a

[2015-05-04 05:35] JockLawrie commented on #6
Answering my own question: To authenticate a request, conduct the session over https.

[2015-05-18 17:29] PallHaraldsson commented on #5
I read this far:

"I also think that if this were a bigger issue for GPL software, you wouldn't see so many GPL-based systems using it (think basically any Linux variant these days, though you do have some GnuTLS holdouts that don't want a "non-free" section). They've all managed to carve out exceptions. Julia should be able to do similar."

and: "The problem is that OpenSSL is Apache v1.0 not v2.

[2015-05-18 17:41] PallHaraldsson commented on #5
https://github.com/libressl-portable/portable

LibreSSL is in the same situation as OpenSSL, but they dropped a lot of code from OpenSSL (not enough to be Apache 1.0 free it seems) and might have a permissive ("BSD-only") plan in the future.?. at least WP lists these additionally: "ISC License, and some are public domain"

I remembered they didn't like Apache, but it was 1.0 they liked:

http://ww

[2015-05-18 17:41] sbromberger commented on #5
I don't think we need to "work around" the GPL. Any library we develop for OpenSSL would not be bundled with any additional GPL software; it would be a package to install with its own (OpenSSL-derived / OpenSSL-compatible) license. I think this avoids the bundling issue to which most folks refer when they talk about GPL / OpenSSL license incompatibility.

In any case, the packages themselves haven

[2015-05-18 17:47] PallHaraldsson commented on #5
When I think about it, if this is not going into base, would "Julia as a whole" be considered as an environment and it would fall under the "GPL's system library exception". That is your own code that uses OpenSSL.jl and OpenSSL that comes with it would be ok if you do not make standalone executables?

For standalone distributions of Julia with your code you would however have a problem (when not

[2015-05-18 17:55] PallHaraldsson commented on #5
"But the beauty of the project is that we can have multiple packages" - I think you mean.. you can use OpenSSL (dynamically chose) on Linux and everywhere where it is preinstalled under the system exception, but:

on Windows you have GnuTLS (with maybe less security..). It's kind of ironic that Windows would get the "GNU"-package that is LGPLv2.1+, because you can use that with the full GPL.. when

[2015-06-21 01:24] tkelman commented on #5
For Windows we could probably write bindings to the native WinHTTP functionality with whatever license we want just referring to openly available API documentation (or public domain mingw-w64 headers) in the process of writing it, but that would need to be done carefully by someone who knows what they're doing.

[2015-07-12 14:17] sbromberger commented on #5
~~Just found this: https://github.com/awslabs/s2n - looks promising.~~

Scratch that:

[2015-07-14 22:25] quinnj commented on #5
I still think https://github.com/ARMmbed/mbedtls is probably a good option. Can anyone else verify that it would be able to fully replace GnuTLS? I've been in contact with one of the developers and it sounds like they're flexible on the license (Apache 2.0).

[2015-07-14 22:27] sbromberger commented on #5
@quinnj I'd have serious reservations about moving from a less-supported `GnuTLS` to an even-less supported `mbedtls`. IMO, the security benefits of using a widely-adopted package are too important to ignore, especially when we anticipate this package underpinning most, if not all, secure communications in Julia.

[2015-07-14 22:44] quinnj commented on #5
"Users include Linksys, Nginx, Government of the Netherlands..."
Their [website](https://tls.mbed.org/security) looks fairly solid along with the "securitiy" center. The developers seem very responsive as I've interacted with them. The commit history [looks plenty strong](https://github.com/ARMmbed/mbedtls/graphs/commit-activity), particularly since ARM took over in February.

Do you have specific

[2015-07-14 23:24] hayd commented on #5
Big +1 to mbedtls. If they are flexible on the license all the better!

[2015-07-15 00:37] sbromberger commented on #5
I just think that, compared with some of the alternatives, we'd want to go with something that has lots more eyes on the code. It's been my experience that smaller projects may look attractive but having the codebase subjected to multiple formal and informal audits is the way to go for security-sensitive stuff.

The other benefit to going with a big player is that, with a more recognized codebase,

[2015-09-04 04:26] IainNZ commented on #4
Closing this. PRs welcome on HttpServer.jl when and if this becomes feasible.

[2015-09-04 04:26] #4 closed, assigned to nobody

[2015-09-04 04:27] IainNZ commented on #6
Closing this, best as a PR on the relevant package.

[2015-09-04 04:27] #6 closed, assigned to nobody

[2015-09-04 04:27] IainNZ commented on #3
This isn't going to happen until the next version of `Pkg` enables renaming, if ever. Too much churn.

[2015-09-04 04:27] #3 closed, assigned to nobody

[2015-09-04 04:28] IainNZ commented on #7
Morsel and Meddle are now abandonware - PRs adding functionality and or reviving those packages are welcome.

[2015-09-04 04:28] #7 closed, assigned to nobody

[2015-09-04 08:05] quinnj commented on #5
Interesting developments all around:
MbedTLS.jl: https://github.com/malmaud/MbedTLS.jl
OpenSSL license updates: https://www.openssl.org/blog/blog/2015/08/01/cla/

[2015-09-05 10:19] PallHaraldsson commented on #5
Note, this should help (released yesterday):
https://tls.mbed.org/tech-updates/releases/mbedtls-2.1.0-released-under-apache

MbedTLS.jl is under MIT license with exception (that was removed):
https://tls.mbed.org/foss-license-exception

That is no problem if at least 2.0 is used. Older 1.2 shouldn't be used
anyway, and I'm not sure they can take the exception away retroactively (or
changed that wa

[2015-09-11 23:16] malmaud commented on #5
Can we close this now? At this point Requests and HttpServer are both using MbedTLS, which is dual-licensed under Apache 2 and GPL 2.

[2015-09-11 23:38] hayd commented on #2
Also https://github.com/one-more-minute/Mux.jl. It would be interesting to see a lightweight/flask-like framework built on top of Mux... Is anyone already working on one?

[2015-09-12 20:05] hayd commented on #5
I just did a fresh install (and installed Mux) and something is still depending on GnuTLS (though I can't work out what... or maybe one package hasn't had their release in META yet...?).

[code]

[2015-09-12 20:13] IainNZ commented on #5
This: https://github.com/JuliaWeb/HttpServer.jl/commit/ab5aafb784da07cebf4db2e5b30b7ff07ed04434
probably wasn't tagged yet

[2015-09-14 00:19] JockLawrie commented on #2
While not exactly a framework, I am working on a tutorial for [web development in Julia](https://bitbucket.org/jocklawrie/skeleton-webapp.jl/src/fae46c05fbaf7921a86616bcaf565ebf5a241239/docs/outline.md?fileviewer=file-view-default). A few notes:
- This project essentially documents my own learning, which I hope others might find useful.
- Examples 4-6 will hopefully be implemented over the next fe

[2015-09-14 00:40] JockLawrie commented on #2
...the point being that at this stage, given the limited supply of labour, I think a set of working examples using the existing packages is a higher priority than a new package.

[2015-09-14 01:40] IainNZ commented on #2
@JockLawrie that sounds very sensible, and I also thinking describing and characterizing the basics comprehensively is a great idea.

[2015-09-14 01:40] IainNZ commented on #2
Team, the state of JuliaWeb has meandered a lot from when I first made it, so I'm going to close it in favor of more targeted discussion.

[2015-09-14 01:40] #2 closed, assigned to nobody

[2015-09-14 01:42] IainNZ commented on #5
So it never was really fully fixed, but we've now got MbedTLS instead, so I'll close this in favor of people opening PRs on GnuTLS (if that happens).

[2015-09-14 01:42] #5 closed, assigned to nobody

[2015-09-14 02:41] EricForgy commented on #2
Hi JockLawrie,

I think I am the exact target audience for your tutorial and remember seeing an earlier version of it. I will definitely work through it. I have been meaning to ask a general question though and your third bullet point above pushes me to ask it (before reading the tutorial - dangerous!).

I have 20+ years working with Matlab including some web-based work (taking advantage of the fa

[2015-09-14 03:25] JockLawrie opened #9 "Routing"
Hi Eric,

I copied your message (below) into a new issue that focuses on routing - hope you don't mind.

Glad the [tutorial](https://bitbucket.org/jocklawrie/skeleton-webapp.jl/src/fae46c05fbaf7921a86616bcaf565ebf5a241239/docs/outline.md?fileviewer=file-view-default) appeals. First of all, I'm no web dev guru. I'm just learning, so please take what I'm saying with a grain of salt and compare to ot

[2015-09-14 03:59] hayd commented on #9
This weekend I had a starting hack a package with templates and more general routing/MVC on top of Mux. Hopefully I can publish something in the next few weeks. Perhaps @one-more-minute or someone else has some other ideas on a clean way to implement templates etc (it's amazing how tiny Mux is).

[2015-09-14 16:16] MikeInnes commented on #9
I suspect that using a routing library will make your routing a ton simpler – for anything non-trivial that's going to be a pretty huge if statement. Mux certainly isn't the only valid approach to that problem, but it's worth pointing out that the Clojure community gradually moved away from stateful Sinatra-like models to more declarative ones similar to Mux.

@hayd looking forward to seeing what

[2015-09-14 23:33] JockLawrie commented on #9
@hayd sounds great, looking forward to seeing what you come up with.

I'm coming from a learning perspective. One approach a beginner can take is learn a framework, make the right incantations and get something up and running. A more thorough approach is to gradually learn all the basic moving parts, their purpose and limitations, and how they fit together.

Regarding routing, the relevant questio

[2015-09-15 00:51] EricForgy commented on #9
Hi JockLawrie,

I like that you are able to do some basic routing directly with the request, but I have a small allergy to "if" statements, which is probably misguided (although I use them all the time). Would it make sense to have some very small Routes.jl package? That would seem to be the next incremental thing you would need for some basic MVC.

[2015-09-15 01:00] JockLawrie commented on #9
Hey Eric, sounds like Mux.jl is for you - packages don't get much smaller than this.

[2015-09-15 02:12] EricForgy commented on #9
Hehe. True. Mux looks super cool, but I wonder if even Mux can be made a little smaller :)

I am still too new to be able to effectively track dependencies, but Mux:
- Uses
  - Hiccup (not sure I need that)
  - Compat
  - Lazy (looks cool)
- Includes
  - server.jl (Not sure if HttpServer is already sufficient)
  - basics.jl
  - routing.jl (looks like what I want except the extra "probability" meth

[2015-09-15 02:24] JockLawrie commented on #9
Looks like you'd also need the lines concerning mux() and branch() from Mux.jl.

[2015-10-25 05:08] malmaud opened #10 "Large-scale cleanup of JuliaWeb"
In the near future, I'd like JuliaWeb to only contain working and useful packages. Being listed in JuliaWeb should be an indication that that developers of Julia's web infrastructure stand behind the package - both certifying that the package is functional and advocating for its use.

A corollary of that is that we shouldn't have packages that are almost perfect substitutes for each other without

[2015-10-25 05:14] sbromberger commented on #10
I am very grateful for all the work that's been done (especially by you, @malmaud, and particularly with your drive towards mbedtls, a proposal of which I was initially skeptical) on curating JuliaWeb lately and am in full agreement with your proposal. Let me know how I can help.

[2015-10-25 05:17] sbromberger commented on #10
Some thoughts: it would be nice to be able to enumerate the elements of a web/comms stack and figure out where the gaps are. That is, if we deprecate SMTPClient.jl, we have no out-of-the-box solution for sending mail easily. I'm not suggesting that this influence the decision as to whether or not to deprecate, but we should identify functionality that doesn't exist / no longer exists and perhaps p

[2015-10-25 05:18] sbromberger commented on #8
I think we can close this given the move to mbedtls.

[2015-10-25 05:18] #8 closed, assigned to nobody

[2015-10-25 05:34] malmaud commented on #10
Thanks Seth! WRT mbedtls, I still think it would be great to having a robust OpenSSL wrapper package and make Requests.jl and HttpServer.jl agnostic with respect to the ssl backend - that's just not something I personally have the motivation to work on.

[2015-10-25 05:39] quinnj commented on #10
+100 to deprecating all those packages.

I also agree with @sbromberger's suggestion to identify the "gaps in functionality"; I think we could put it all in a "Up For Grabs" type issue/document/roadmap somewhere in the case where somebody wants to dive in and help.

Didn't hte invenia guys work on an smtp client recently? Am I remembering that wrong?

[2015-10-25 05:44] sbromberger commented on #1
Probably best to close this out now that we've got better direction with mbedtls and #10.

[2015-10-25 05:44] #1 closed, assigned to nobody

[2015-10-25 09:35] MikeInnes commented on #10
Yes, I'll second that @malmaud's work on JuliaWeb has been awesome – and this plan looks like it will leave things in really good shape.

I'm happy to send Mux over to JuliaWeb, although it looks like I need admin rights to the org to do so.

[2015-10-25 15:34] IainNZ commented on #10
@one-more-minute I've granted those now

I think definitely preferable that packages go back to their creators if possible, so

[2015-10-25 15:36] IainNZ commented on #10
SMTPClient.jl - @aviks
LibCURL.jl (this meets the "useful functionality" bar, but is currently broken and needs a maintainer to stay in JuliaWeb) - @amitmurthy
HTTPClient.jl - @amitmurthy
Meddle.jl - Hacker School, not sure who would be willing to take it
GnuTLS.jl - This does seem to sort of work? Not sure if we have to move it out. @Keno
Morsel.jl - Same as Meddle

[2015-10-25 15:38] sbromberger commented on #10
Is it possible to have a folder of repos within an organization? (If so, perhaps we can move the hacker school stuff into one called "Deprecated" or something).

[2015-10-25 15:48] MikeInnes commented on #10
Cheers @IainNZ. Since there didn't seem to be any objections I've gone ahead and moved Mux into JuliaWeb.

[2015-10-25 15:53] IainNZ commented on #10
@sbromberger there are teams for human beings, but no such distinction for repos. As you can see for Meddle and Morsel, I've put big deprecated warnings in the readme, and in the repo description - that is maybe sufficient. Moving them out would be even better IMO, if it goes back to the owner.

[2015-10-25 16:17] malmaud commented on #10
My only motivation really for wanting to move them into a deprecated organization is so they wouldn't be visible on the JuliaWeb landing page. I'm worried it sends a bad message if people come to JuliaWeb and see big DEPRECATEd warnings all over - they might assume it reflects on the general state of the organization rather those specific packages.

[2015-10-25 16:27] IainNZ commented on #10
Yeah its not a great look

[2015-10-25 16:27] IainNZ commented on #10
Also, don't forget http://juliawebstack.org/ is still lurking in the JuliaLang org

[2015-10-25 16:29] sbromberger commented on #10
so - create a DeprecatedJuliaPackages organization? :)

Other thoughts: probably want to make updates to @svaksha's [curated decibans](https://github.com/svaksha/Julia.jl) list.

[2015-10-25 16:33] malmaud commented on #10
Wow, did not even know about that site.

The only real hurdle to the deprecated organization idea is that teams are not cross-organizational AFAIK, so all the access control to the packages would have to be made redundantly in the new organization.

[2015-10-25 16:34] sbromberger commented on #10
The other idea is to figure out if there's a primary committer for these deprecated packages, and ask them what they'd like to do. For example,

Meddle.jl: @IainNZ and @astrieanna are the top two contributors, and
Morsel.jl: @danielmendel and @zachallaun are the top two (with Iain as number 3).

[2015-10-25 16:56] svaksha commented on #10
On Sun, Oct 25, 2015 at 4:33 PM, Seth Bromberger
notifications@github.com wrote:

PR's welcome: https://github.com/svaksha/Julia.jl/blob/master/Web-Server.md#org-juliaweb

SVAKSHA ॥  http://about.me/svaksha  ॥

[2015-10-29 03:52] JockLawrie opened #11 "Secure sessions"
Hi all,

I've written a first draft of an implementation of secure session cookies. It is Example 5 of [this repo](https://bitbucket.org/jocklawrie/skeleton-webapp.jl). It is intended as a starting point for developing a separate package (or piece of middleware in a larger package) that provides this functionality. Feel free to use/modify it as you please.

The security protocol is described in [d

[2015-10-30 03:13] malmaud commented on #11
Looks promising. If you could create a package for it with tests that demonstrate its intended usage, I think it would be easier for other to look at and comment on.

[2015-10-30 04:11] malmaud commented on #10
If there aren't objections, I'm thinking we pull the trigger on this one week from now - any unclaimed deprecated packages will get moved to https://github.com/JuliaDeprecated.

[2015-10-30 04:33] astrieanna commented on #10
I'm happy with the Meddle/Morsel stuff going to a deprecated org. It was originally developed in the HackerSchool org, and I don't know that any one person is really the "owner".

I'm really glad you're going through and deprecating/removing stuff. :+1:

[2015-10-30 04:41] malmaud commented on #10
Cool, thanks!

Just for posterity, let me note that I do appreciate all the work that went into the packaged that are being deprecated, including the work of the HackerSchool people.

[2015-10-30 06:56] svaksha commented on #10
@malmaud, will [JuliaDeprecated](https://github.com/JuliaDeprecated) be the place holder for all the deprecated Julia packages or only contain JuliaWeb packages?

[2015-10-30 16:51] malmaud commented on #10
My thinking is the former, but only when the original developer of a
package that is now hosted in an organization doesn't want it back - I
think that should be relatively rare.

On Fri, Oct 30, 2015 at 2:56 AM SVAKSHA notifications@github.com wrote:

[2015-10-31 03:00] svaksha commented on #10
Thanks for the clarification.

[2015-11-01 16:37] aviks commented on #10
I'm happy to take back SMTPClient.jl. I still use it.  @malmaud can you make me owner of JuliaArchive temporarily?

[2015-11-01 17:55] malmaud commented on #10
Great; I sent you a request to accept a transfer.

On Sun, Nov 1, 2015 at 10:37 AM Avik Sengupta notifications@github.com
wrote:

[2015-11-01 21:53] JockLawrie commented on #11
Sure. Will do later in the week.

[2015-11-02 04:10] amitmurthy commented on #10
I think HTTPClient and LibCURL should continue to stay under JuliaWeb. HTTPClient and LibCURL do work under Unix but may be broken under Windows.

If the community feels otherwise, I am happy to take them back. No issues.

[2015-11-02 04:20] malmaud commented on #10
I think everyone appreciates the utility of LibCURL, but

1) it's failing its tests,
2) still says httpclient.jl in its license
3) has sparse documentation, especially its readme

It would be great if someone fixed those things so it wouldn't be
problematic to have it stay.

On Sun, Nov 1, 2015 at 10:10 PM Amit Murthy notifications@github.com
wrote:

[2015-11-02 04:24] amitmurthy commented on #10
The tests are calling HTTPClient. I'll change it to just test loading of the LibCURL library.

Will change.

Since it is a wrapper, the doc will point to libcurl's doc. Will explain it further.

[2015-11-02 04:25] malmaud commented on #10
Sounds great.

On Sun, Nov 1, 2015 at 10:24 PM Amit Murthy notifications@github.com
wrote:

[2015-11-06 03:12] JockLawrie commented on #11
[Here](https://github.com/JockLawrie/SecureCookies.jl) it is. See the test.

[2015-11-06 03:41] malmaud commented on #10
Alright, looks like this is settled now. tl;dr for future reference:
- smtpclient ended up with @aviks
- httpclient is being updated by @amitmurthy
- meddle and morsel have moved to the new juliaarchive org

[2015-11-06 03:41] #10 closed, assigned to nobody

[2015-11-10 00:09] JockLawrie commented on #11
Update: I changed the repo to [SecureSessions.jl](https://github.com/JockLawrie/SecureSessions.jl) with a view to adding password hashing.

[2015-11-12 02:36] JockLawrie commented on #11
Update2: [SecureSessions.jl](https://github.com/JockLawrie/SecureSessions.jl) now has password hashing and 100% code coverage in testing. The README links to examples that show this functionality in action, i.e., a secure session with login.

How do I get the tests passing/failing badge on the README?

[2015-11-18 22:30] JockLawrie commented on #11
Update3: I'd like to register this package and announce on Julia users, with a view to gathering feedback for hardening the implementation. Before I do that, any suggestions about the API (see below)?

[code]

[2015-12-06 22:42] JockLawrie commented on #11
Update4: [SecureSessions](https://github.com/JockLawrie/SecureSessions.jl) is now a registered package. Simply `Pkg.add("SecureSessions")` and away you go.

Note that the security of the implementation hasn't been reviewed by a security professional, so use at your own risk. Suggestions of any kind are always welcome.

[2016-02-08 18:18] as1ndu opened #12 "Support for Google App Engine"

[2016-02-08 21:25] #12 closed, assigned to nobody

[2016-03-16 01:58] EricForgy commented on #9
I forgot about this issue, but since September I went ahead and built my own light solution.
- [Pages](https://github.com/EricForgy/Pages.jl)

It is currently being considered for [addition to METADATA](https://github.com/JuliaLang/METADATA.jl/pull/4775).

Feedback welcome :)

[2016-03-17 02:45] JockLawrie commented on #9
Nice job.
Is this primarily aimed at messaging?
Can you suggest some other use cases for this? I'm a little unclear about where this would be used instead of Mux.jl or plain HttpServer.jl.

[2016-03-17 14:14] sarvghotra opened #13 "Seeking mentor for GSoC 2016 project HTTP2 Implementation."
I want to apply to apply to GSoC. I posted it on Julia-user google group [here](https://groups.google.com/forum/#!topic/julia-users/GhcdolIPNu4) but didn't get any response from any potential mentor for [HTTP2 Implementation](http://julialang.org/soc/ideas-page#http2-implementation) project, for other project I did get one.

I have some experience while contributing to Julia for months now.

Pleas

[2016-03-17 14:23] MikeInnes commented on #13
Just as a heads up, we've relaxed the guidelines a bit so that finding a mentor isn't absolutely essential. If you focus on putting together a really good application then we can find a mentor for you.

[2016-03-17 15:29] sarvghotra commented on #13
Cool.
Thanks.

[2016-04-14 11:20] JockLawrie opened #14 "AccessControl.jl"
Hi all,

I've started work on [AccessControl.jl](https://github.com/JockLawrie/AccessControl.jl), which is intended to provide authentication and authorization for web apps written in Julia. A few observations below. Thoughts?

Cheers,
Jock
1. You can see what is done and what is intended by looking at [docs/Contents](https://github.com/JockLawrie/AccessControl.jl/blob/master/docs/Contents.md). I'

[2016-04-19 04:51] JockLawrie commented on #14
...and of course it's very much alpha at this stage.

[2016-04-19 04:53] JockLawrie commented on #14
Not sure if issues in the road map go to anyone in particular, so sending this out manually. @MikeInnes @IainNZ @malmaud @EricForgy

[2016-08-17 10:18] PallHaraldsson commented on #10
@IainNZ "Also, don't forget http://juliawebstack.org/ is still lurking in the JuliaLang org"

Yes, seems seriously outdated.. Are same people responsible for it? Not sure where to bring that up.

[ https://github.com/shashi/Escher.jl could also be mentioned there, I haven't used, just seems cool, while sadly http://escher-jl.org/ link is not a good one.. still blanks in seconds.. a problem not rel

[2016-12-13 17:11] Ismael-VC opened #15 "Adopt Escher.jl"
I think it would be good if we could move Escher over to the JuliaWeb organization. Escher would fit wonderfully in the Julia Web stack as part of the fronted, this would allow to ease and continue development of the Escher package, nowadays, @shashi is busy at other things, and he hasn't been able to be responsive to the issues at his repository.

Likewise, Escher is known not to work correctly f

[2016-12-14 03:56] shashi commented on #15
[I don't share the same feeling](https://github.com/JuliaGizmos/Interact.jl/issues/104#issuecomment-266258929). If you want to help maintain it, pull requests are most welcome. And if someone makes good PRs showing good understanding of how Escher works, I will add them as a collaborator.

It works if you use master - aside from a couple of issues. If you're looking to help: there's https://github

[2016-12-14 03:56] #15 closed, assigned to nobody

[2016-12-14 06:50] Ismael-VC commented on #15
You don't have to be sorry about anything at all, my idea was precisely to find a way to help you and so others could contribute more easily. I proposed this because I've seen lots of users trying to use Escher at the Julia gitter chat room with no luck. I'll try to help debug those issues, thanks a lot!

[2016-12-19 15:07] quinnj opened #16 "Webstack overhaul"
Hey anyone who happens to still read things around here :)

I'm opening this issue to discuss some of my recent efforts in a new (still unregistered) package [HTTP.jl](https://github.com/JuliaWeb/HTTP.jl).

The julia webstack has long been the neglected child of the julia ecosystem, hobbling along with just enough attention to still be considered useable packages, but not much else. To be fair, th

[2016-12-19 16:02] MikeInnes commented on #16
Not too much to add on the technical side from me – this looks like a great plan and I'm excited to see this stuff really moving forward!

Looking at Go for inspiration is a great idea. I suggest also taking a look or two at Clojure's designs, interfaces and lessons learned – obviously the language and approach is virtually opposite from Go's and it may be useful to have another perspective when f

[2016-12-19 16:05] quinnj commented on #16
Great thoughts Mike. Could you point me to some files/docs on Clojure web design? I'd certainly be interested in reading.

Yeah, as far as higher-level components, I definitely want to avoid putting too much in HTTP.jl and really make it more of a foundation for the webstack. I have a prototype package that does endpoint mapping based on HTTP, but I'm not sure if it'll be something to promote over

[2016-12-20 00:57] IainNZ commented on #16
This all sounds great!

On 19 Dec 2016 4:05 pm, "Jacob Quinn" <notifications@github.com> wrote:

[2016-12-20 10:54] TheOnlySilverClaw commented on #16
I like what you're doing. One of my reasons to learn a new language (more than just the basics) is Java's lack of a basic HttpServer. Even the smallest ones around were several dozen megabytes large and required a bunch of documentation to get started.
If Julia manages to get a decent basic HTTP-package, I'm definitely sticking around.

[2016-12-20 11:38] shashi commented on #16
Good plan! I would like to point out @sorpaas's https://github.com/sorpaas/HTTP2.jl which was built during GSoC. It would be SO NICE to have a reliable HTTP2 implementation.

[2016-12-20 14:42] MikeInnes commented on #16
Things may have changed, but AFAIK the state of the art is [http-kit](http://www.http-kit.org/) and [clj-http](https://github.com/dakrone/clj-http) for the raw HTTP client. From what I can tell they're using channels now so it won't be completely far from the Go interfaces. It'd be worth taking a look at [ring](https://github.com/ring-clojure/ring) which starts to get a little higher-level and the

[2017-02-15 18:05] luminarious commented on #16
Julia as a language looks lovely and a working webstack with maybe even something [Sinatra](http://www.sinatrarb.com/intro.html#Routes)-like would go a long way toward exciting the Java/PHP crowds, not to mention the Ruby and Python fans looking for a more performant alternative.

[2017-02-15 21:33] StefanKarpinski commented on #16
@luminarious: Please see http://julialang.org/community/standards/ regarding sexualization of the term "Julia".

[2017-02-16 08:23] luminarious commented on #16
@StefanKarpinski Amended, the metaphor got away from me.

[2017-03-09 18:05] #13 closed, assigned to nobody

[2017-03-22 05:30] despeset opened #17 "Future of juliawebstack.org"
I helped implement the first generation web code back in 2013 at the [Recurse Center](http://recurse.org) (formerly Hacker School) as referenced in #16. I have not subsequently had the pleasure of getting to work with Julia on a regular basis, though I am :clap: :tada: excited by all the great work that you all are doing.

I own `juliawebstack.org` which was set up back then, and points at the git

[2017-10-01 17:26] erikedin opened #18 "Moving DandelionWebSockets.jl to JuliaWeb?"
Hello!

I am the developer of DandelionWebSockets.jl at https://github.com/dandeliondeathray/DandelionWebSockets.jl. It's a WebSockets client.
I'm wondering if you would be open to moving this project to JuliaWeb? I think it would fit well functionality-wise with the other projects, especially as you already have a WebSockets server project.

Unfortunately I am no longer using Julia, so I'm not ac

[2018-02-03 08:07] #18 closed, assigned to nobody

[2018-11-05 16:45] femtotrader opened #19 "joinurl"
Hello,

It will be nice to have an implementation of a `joinurl` function
See discussion at https://discourse.julialang.org/t/join-parts-of-a-url-joinpath/12441/12
Pinging @sirex @Nosferican @sbromberger
But I don't know exactly in which package of JuliaWeb org such a function could be.

Maybe an other approach could be to have simply a function named `join` which could take parameters of `URI` ty

[2018-11-05 23:47] samoconnor commented on #19
HTTP.jl has a URI specific `splitpath` function (handles '?' and '#'): https://github.com/JuliaWeb/HTTP.jl/blob/master/src/URIs.jl#L364
and a `absuri` function (merges the path and query from one URI into another URI): https://github.com/JuliaWeb/HTTP.jl/blob/master/src/URIs.jl#L385

There is also `merge` for modifying any part of a URI: https://github.com/JuliaWeb/HTTP.jl/blob/master/src/URIs.jl#

[2019-12-19 22:05] mikolajhojda opened #20 "add a logo"
![julia-web](https://user-images.githubusercontent.com/32071801/71213549-12050d00-22b4-11ea-9dff-18555ddc14c4.png)

[submission.docx](https://github.com/JuliaWeb/Roadmap/files/3985821/submission.docx)

[2019-12-19 22:07] logankilpatrick commented on #20
@ararslan @jrevels This logo was created as part of the Google Code-In Challenge as a new logo for the JuliaWeb org. Any feedback or quick fixes for @mikolajhojda ?

[2019-12-20 10:54] waldyrious commented on #20
Gradients in logos can be problematic, especially for printing and low-resolution media. How about splitting the globe into 3 regions (say, in horizontal bands) and painting each one color?

[2019-12-20 11:02] logankilpatrick commented on #20
@mikolajhojda mind making this change?

[2019-12-20 16:50] jrevels commented on #20
I don't really have much of an opinion; might want to ask some of the more active JuliaWeb maintainers.